language: ruby
rvm:
  - 1.9.3
env:
  - DB=postgresql
script:
  - RAILS_ENV=test bundle exec rake --trace db:migrate #test
before_script:
  - psql -c 'create database ops_hospital_mapper_test' -U postgres
