<div class="about">

	<p> hospiTALLY is built by four Dev Bootcamp students- Avi Kaufman, Rod Levy, Anna-Marie Panlilio, and Daniel Song.</p>
	<p> The aim of this project is to give conscious citizens a tool they can use to analyze the state of America's health care system.</p>
  <p>Replace this filler with some good stuff.</p>
	<p>Are you a developer? Fork us on <a href="https://github.com/Ank13/ops_hospital_mapper">Github</a> and contribute.</p>
</div>

