<div class="about">

	<p> hospiTALLY is built by four Dev Bootcamp students- Avi Kaufman, Rod Levy, Anna-Marie Panlilio, and Daniel Song.</p>
	<p> The aim of this project is to give conscious citizens a tool they can use to analyze the state of America's health care system.</p>
	<p>Replace this filler with some good stuff.</p>
</div>

