<div class="wtfacts">
	<p>While analyzing this data, we found some amazing (ridiculous?) inconsistencies in America's health care system. They are listed as follows, with links directing you to snapshots of that data map and set.
	</p>
</div>