<div class="wtfacts">

  <p> Hospitals charge drastically different amounts for the same procedure. In order to make this data accessible to the public and promote a discussion of the burgeoning cost of healthcare in the US, we've combined the recently released Medicare chargemaster data with government measures of quality, such as patient survey results and outcomes of care, and mapped it on Google Maps. </p>
  <p>
  We started this project July 4, 2013 and completed on July 11, 2013 as our final project for <%= link_to 'Dev Bootcamp', 'http://devbootcamp.com/', :target => "_blank" %>.
  </p>
  <p>
   <p>From a technical perspective, we were happy to get more practice with big data, APIs, mapping, JavaScript, and Rails. We also got a lot of practice with merge conflicts using git :/ </p>
  </p>
  <p>Are you a Rails or Javascript developer? If you'd like to help drive this app forward, fork us on <%= link_to 'Github', "https://github.com/Ank13/ops_hospital_mapper", :target => "_blank" %> and contribute.</p>
</div>




