<div class="wtfacts">
	
  <p> The aim of this project is to give conscientious citizens a tool to explore hospital cost data and become more informed about the state of America's health care system.</p>
  <br>
  <p>
  We started this project July 4, 2013 and completed on July 11, 2013 as our final project for <%= link_to 'Dev Bootcamp', 'http://devbootcamp.com/', :target => "_blank" %>. 
  </p>
  <br>
  <p>
   This was an exciting project for us for several reasons. First, the exploding costs of health care seem like a growing concern for our country, and we wanted to build a tool to promote a conversation. </p>
   <br>
   <p>From a technical perspective, we were happy to get more practice with big data, some APIs, mapping, JavaScript, and Rails. We also got a lot of practice with merge conflicts on git :/ </p>
  </p>
  <br>
  <p>
  If we had more time, these are the additional features we'd like to add: access the procedure dropdown from the hospital info box, add numerical labels to bubble overlays to give sense of scale, descriptive stats for procedures, show payment versus charge data, add heatmaps for other potential factors such as crime, economic, and obesity, and walkability, add 'calculate your insurance co-pay' calculator, add coorelation tester, add integration with Yelp reviews, add ability to save a view and share by Twitter or Facebook, and, of course, more testing.
  </p>
  <br>
  <p>Are you a Rails or Javascript developer? If you'd like to help drive this app forward, fork us on <%= link_to 'Github', "https://github.com/Ank13/ops_hospital_mapper", :target => "_blank" %> and contribute.</p>
  <br>
    <p>Are you a health policy expert? If you'd like to help, send us better definitions and explanations to post on the site. </p>

</div>
