<div class="wtfacts">
	
  <p> Hospitals charge drastically different amounts for the same procedure. In order to make this data accessible to the public and promote a discussion of the burgeoning cost of healthcare in the US, we've combined the recently released Medicare chargemaster data with government measures of quality, such as patient survey results and outcomes of care, and mapped it on Google Maps. </p>
  <p>
  We started this project July 4, 2013 and completed on July 11, 2013 as our final project for <%= link_to 'Dev Bootcamp', 'http://devbootcamp.com/', :target => "_blank" %>. 
  </p>
  <p>
   <p>From a technical perspective, we were happy to get more practice with big data, APIs, mapping, JavaScript, and Rails. We also got a lot of practice with merge conflicts using git :/ </p>
  </p>
  <p>
  If we had more time, these are some of the additional features we'd like to add: access the procedure dropdown from the hospital info box, add numerical labels to bubble overlays to give sense of scale, make cost bubbles by color instead of size, descriptive stats for procedures, show payment versus charge data, add heatmaps for other potential factors such as crime, economic, and obesity, and walkability, add 'calculate your insurance co-pay' calculator, add coorelation tester, add integration with Yelp reviews, add ability to save a view and share by Twitter or Facebook, and, of course, more testing.
  </p>
  <p>Are you a Rails or Javascript developer? If you'd like to help drive this app forward, fork us on <%= link_to 'Github', "https://github.com/Ank13/ops_hospital_mapper", :target => "_blank" %> and contribute.</p>
  <p>Are you a health policy expert? If you'd like to help, send us better definitions and explanations to post on the site. </p>
</div>



 
