<div id="analytics">
<% if @procedure %>
<div class="slidepanel">
	<p>Procedure Definition: <%= @procedure.drg_def %></p>
	<p>Clinical Category: <%= @procedure.clinical_category %></p>
	<p>Description: <%= @procedure.description %></p>  
</div>
<% end %>
</div>