<div id="analytics">
<% if @procedure %>
	<h2>Procedure Definition: <%= @procedure.drg_def %></h2>
	<h2>Clinical Category: <%= @procedure.clinical_category %></h2>
	<p>Description: <%= @procedure.description %></p>  
<% end %>
</div>