<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="initial-scale=1.0, user-scalable=no" />
  
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=API_KEY&sensor=FALSE">
  </script>

  <title>Hospital Maps</title>

</head>

<body>
  <div id="map-canvas"/>
</body>
</html>
