<title>Hospital Maps</title>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPaI-Uyb1rCDvuPugXIFtQff37ADZBfC4&sensor=false">
</script>

<div id="map-canvas"/>

