<div class="welcome-pop">
  <h3>Welcome to Hospitally</h3>
  <p>
    We made this site to shed some light on the data released by Medicare about hospital costs and combine it with other publically available data.
  </p>
</div>
