<div class="welcome-pop">
  <h2>Welcome to Hospitally</h2>
  <p class="user-directions">(Click anywhere to make this box disappear)<p>

  <p>We made this site to shed some light on the data released by Medicare about hospital costs and combine it with other publically available data.</p>

  <p>Please explore! Here are some things to get you started:</p>
    <ul>
      <li>Select a procedure from the drop-down menu on the left </li>
      <li>Click hospital icons to open info boxes </li>
      <li>Click a visualization icon to overlay data on the map </li>
      <li>Visit "About the Data" to learn more</li>
    </ul>
  
</div>
