<div class="welcome-pop">
  <h2>Hello.</h2>
  <!-- <p class="user-directions">(Click anywhere to make this box disappear)<p> -->

  <!-- <p>We made this site to shed some light on the data released by Medicare about hospital costs and combine it with other publically available data.</p> -->

  <p>Hospitally makes comparing hospital sticker prices across the United States dead simple.</p>

  <h3>How to get started:</h3>
  <table class="poppity">
      <tr>
      <div class="pop-up-instructions"><td><div class="pop-up-icon rotate"><i class="icon-long-arrow-left"></i></div></td>
      <td><div class="instruction-text"> Select a procedure from the drop-down menu on the left</div></td></div>
      </tr>

      <tr>
      <div class="pop-up-instructions"><td><div class="pop-up-icon"><img src="https://googledrive.com/host/0B9bg70URlInBR00zUW9PYnBWLWM/h_sign_32x32_subdued.png"></div></td>
      <td><div class="instruction-text">Click hospital icons on the map for detailed information</div></td></div>
     </tr>

     <tr>
      <div class="pop-up-instructions"><td><div class="pop-up-icon"><i class="icon-long-arrow-left"></i></div></td> 
      <td><div class="instruction-text">Click the visualization buttons to overlay comparison data on the map</div></td></div>
    </tr>
</table>

      <a href="#"><div class="begin big"><span class="begin-icon"><i class="icon-hand-up"></i></span> <span class="begin-label">Start</span></div></a>
  
</div>
