<div class="first_line_all_hospitals">
  <span class="name">
    <%= link_to hospital.provider_name, hospital_path(hospital.provider_id) %>
  </span> 
</div>
<div class="second_line_all_hospitals">
</div>

