// all of the javascript should be wrapped in object literal modules/namespaces

$(document).ready(function(){

  // what is this doing hardcoded here?
  var drgDescription = "482 - HIP & FEMUR PROCEDURES EXCEPT MAJOR JOINT W/O CC/MCC"
  var hospitalID = 0 ;

  function getChart(that, data, url){
    $.get(url, data, function(response){
       $('#description').attr('id', 'chart_div');
       // that.parent().parent().text(" ");
       var axisLabels = {colOne: "Hospital", colTwo: "National"};
       drawChart(response, axisLabels);
    });
  };

  $('#procdropdown').change(function(event){
    drgDescription = $('#procdropdown').val();
    var data = {'drg' : drgDescription };
    var urlInfobox =  '/hospitals/'+hospitalID+'/infobox';

    if ($("#chart_div").is(':visible'))
    {
      $.get(urlInfobox, data, function(response){
         $("#chart_div").text(" ");
         var state = response.state;
         var axisLabels = {colOne: "Here", colTwo: state, colThree: "National"};
         drawChart(response, axisLabels);
      });
    }
  });

  $("#map-canvas").on('click', '.info-comparison',function(event){
    hospitalID = (this.id);
    var that = $(this)
    var data = {'drg' : drgDescription };
    var url =  '/hospitals/'+hospitalID+'/infobox' ;

    $.get(url, data, function(response){
       $('#description').attr('id', 'chart_div');
       var state = response.state;
       var axisLabels = {colOne: "Here", colTwo: state, colThree: "National"}
       drawChart(response, axisLabels);
    });
    $(that).parent().parent().after("<p class='user-directions'>Select procedure from left nav bar to update chart</p>")
  });

  $("#map-canvas").on('click', '.info-outcomes',function(event){
    hospitalID = (this.id);
    var that = $(this)
    var data = drgDescription
    var url =  '/hospitals/'+hospitalID+'/outcomebox'
    getChart(that, data, url);
  });

  $("#map-canvas").on('click', '.info-complications',function(event){
    hospitalID = (this.id);
    var that = $(this)
    var data = drgDescription
    var url =  '/hospitals/'+hospitalID+'/complicationbox'
    getChart(that, data, url);
  });
});

google.load('visualization', '1.0', {'packages':['corechart']});

  function drawChart(data, axisLabels) {
    var firstCol = data["first_col"]
    var secondCol = data["second_col"]
    var thirdCol = data["third_col"]
    var title = data["title"]
    var yAxis = data["y_axis"]

    var data = google.visualization.arrayToDataTable([
      ['Factor', axisLabels.colOne, axisLabels.colTwo, axisLabels.colThree],
      [yAxis,  firstCol, secondCol, thirdCol],
    ]);

    var formatter = new google.visualization.TableNumberFormat(
          // {prefix: "$", suffix: "K", negativeColor: 'red', negativeParens: true}
          );
      formatter.format(data, 1);
      formatter.format(data, 2);
      formatter.format(data, 3);

    var options = {
      'title': title,
      'width':350,
      'height':175,
      'legend': {position: 'in'}
    };

    var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
