/* hospitals index  */

body {
  background-color: #FCFBE7;
}

.all_container {
  width: 75%;
  margin: 0, auto;
  font-family: helvetica, sans-serif;
  font-family: helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #008C9A;
}

a:link {
  text-decoration: none;
  color: #05484F;
}

a:hover {
  color: #C0272D;

}


/* hospitals partial  */


.first_line_all_hospitals {

}

.second_line_all_hospitals {

}


/* single hospital show page  */

.go-back {
  float: right;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: none;
  margin-right: 50px;
  font-family: helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #008C9A;
}

.single_hospital {
  margin-left: 100px;
  margin-top: 50px;
}


.name {
}

.data {
  width: 40%;
}


.data-label {
  font-weight: bold;
  font-size: 1em;
}


.data-content {
  float: right;
}


/*reddish: #C0272D;
white: #FCFBE7;
lightest-blue: #9FD3DA;
next-blue: #008C9A;
darkest-blue: #05484F;




*/