/* hospitals index  */
.all_container {
  width: 75%;
  margin: 0, auto;
  font-family: helvetica, sans-serif;
  font-family: helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #008C9A;
}

a:link {
  text-decoration: none;
  color: #05484F;
}

a:hover {
  color: #C0272D;

}


/* single hospital show page  */

.go-back {
  float: right;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: none;
  margin-right: 50px;
  font-family: helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #008C9A;
}

.single_hospital {
  margin-left: 100px;
  margin-top: 50px;
}


.name {
}

.data {
  width: 40%;
}


.data-label {
  font-weight: bold;
  font-size: 1em;
}


.data-content {
  float: right;
}


/*reddish: #C0272D;
white: #FCFBE7;
lightest-blue: #9FD3DA;
next-blue: #008C9A;
darkest-blue: #05484F;
*/


/*  seashore
off-white: #FAFFE4;
tan: AFA37D;
brown: 52432C;
blue: 375D81;
powder: ABC8E2;
*/

/*  plomer
red: 8C0800;
orange: E09A0C;
powder: ABC8E2;
med blue: 375D81;
navy: 183152;
*/
