html { 
  height: 100% 
}

body { 
  height: 100%; margin: 0; padding: 0 
}

#map-canvas { 
  height: 100%; 
  z-index: 2;
}

.note {
  font-style:italic;
}

#searchby {
	position: fixed;
	z-index: 4;
	top: 8.5%; 
	left: 12.1%;
}

#analytics {
	position: fixed;
	z-index: 4;
}

#search-box {
  position: absolute;
  width: 10%;
  bottom: 5%;
  right: 50%;
  z-index: 6;
}

#search-box input{
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 14px;
  line-height: 16px;
}

#target {
  width: 250px;
}

/*#chart_div {
  width: 275px;
  height: 160px;
}*/
