html { 
  height: 100% 
}

body { 
  height: 100%; margin: 0; padding: 0 
}

#map-canvas { 
  height: 100%; 
  z-index: 2;
}

.note {
  font-style:italic;
}

.searchby {
	position: fixed;
	z-index: 4;
	top: 8.5%; 
	left: 15%;
}

.analytics {
	position: fixed;
	z-index: 4;
	top: 22%; 
	left: 15%;
}

.static {
	z-index: 1;
	height: 100%;
	width: 10%;
	margin-top: 14%;
	float: right;
	padding: 16px;
}