html { 
  height: 100% 
}

body { 
  height: 100%; margin: 0; padding: 0 
}

#map-canvas { 
  height: 100%; 
  z-index: 2;
}

.note {
  font-style:italic;
}

#searchby {
	position: fixed;
	z-index: 4;
	top: 8.5%; 
	left: 12.1%;
}

#searchby2 {
  position: fixed;
  z-index: 1;
  top: 8.5%; 
  left: 2.1%;
}

#analytics {
	position: fixed;
	z-index: 4;
	top: 21.3%; 
	left: 12.1%;
}

.static {
	z-index: 1;
	height: 100%;
	width: 10%;
	margin-top: 14%;
	float: right;
	padding: 16px;
}

#search-box {
  position: absolute;
  width: 10%;
  bottom: 5%;
  right: 50%;
  z-index: 6;
}

#search-box input{
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 14px;
  line-height: 16px;
}

#target {
  width: 250px;
}
