html { 
  height: 100% 
}

body { 
  height: 100%; margin: 0; padding: 0 
}

#map-canvas { 
  height: 100%; 
  z-index: 1;
}

.note {
  font-style:italic;
}

.nav {
	top: 0;
	height: 5%;
	width: 100%;
	position: fixed;
	z-index: 4;
	background-color: peachpuff;
	opacity: .85;
}

.about {
	height: 100%;
	width: 15%;
	margin-top: 14%;
	float: right;
	padding: 16px;
}