.nav {
	top: 0;
	height: 5%;
	width: 100%;
	position: fixed;
	z-index: 4;
	background-color: none;
}

#navlist li {
	float: right;
	list-style-type: none;
	display: inline-block;
	color: #444;	
	font-size: 1.5em;
	padding-left: 32px;
	padding: 8px;
	font-family: arial, helvetica, sans-serif;
	font-size: 1.5em;
}

#navlist #logo {
	font-size:2.5em;
	float: left;
	font-family: arial, helvetica, sans-serif;
}

#navlist a:visited {
	color: #444;
}

#navlist a:hover {
	color: #8C0800;
}
