.nav {
	top: 0;
	height: 5%;
	width: 100%;
	position: fixed;
	z-index: 4;
	background-color: white;
	/*opacity: .85;*/
}

#navlist li {
	float: right;
	list-style-type: none;
	display: inline-block;
	color: #444;	
	font-size: 1.5em;
	padding-left: 32px;
	padding: 8px;
}

#navlist #logo {
	float: left;
}

#navlist a:visited {
	color: #444;
}

#navlist a:hover {
	color: crimson;
}
