h3 {
font-size:14px;
line-height: 19px;
font-family: helvetica, arial, sans-serif;
color:#fff;
font-weight: 600;
margin:0;
margin-left: 8px;
padding:8px 8px 8px 0;
}

/*p {
  color:#cccccc;
  line-height:22px;
  padding: 0 0 10px;
  margin: 20px 0 20px 0;
}*/

.visualize {
  color: #183152;
  text-decoration: none;
  margin-left: 12px;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  width: 100%;
  line-height:20px;
  margin-top: 15px;
}


.visualize .icon-usd {
  font-size: 20px;
  color: #236905;
}

.visualize .icon-usd:hover {
  color: white;
}


.visualize .icon-thumbs-up {
  font-size: 20px;
  color: #EEF000;
}

.visualize .icon-thumbs-up:hover {
  color: white;
}

.visualize .icon-thumbs-down {
  font-size: 20px;
  color: #F04400;
}

.visualize .icon-thumbs-down:hover {
  color: white;
}

.visualize .icon-ambulance {
  font-size: 20px;
  color: #70070A;
}

.visualize .icon-ambulance:hover {
  color: white;
}

.visualize .icon-frown {
  font-size: 20px;
  color: #515151;
}

.visualize .icon-frown:hover {
  color: white;
}

.visualize a {
  color: #375D81;
}

.viz-label {
  float: right;
  margin-left:20px;
}

.panel {
position: absolute;
z-index: 3;
left: 0;
display: block;
background: #ABC8E2;
width: 250px;
height: 100%;
min-width: 175px;
padding: 20px 25px 15px 15px;
filter: alpha(opacity=95);
opacity:.95;
}

.panel h2 {
  font-size:18px;
  line-height: 26px;
  font-family: helvetica, arial, sans-serif;
  color: #183152;
  font-weight: 600;
  margin:0;
  margin-left: 8px;
  padding:8px 8px 8px 0;
}

.panel h3 {
  color: #183152;
  margin-top: 20px;
}

/*.panel p{
margin: 0 0 15px 0;
padding: 0;
color: #cccccc;
}*/

a.trigger2{
  position:fixed;
  left: 255px;
  top: 160px;
  text-decoration: none;
  font-size: 16px;
  letter-spacing:-1px;
  font-family: verdana, helvetica, arial, sans-serif;
  color:#fff;
  padding-left: 12px;
  padding-top: 8px;
  width: 100px;
  height: 35px;
  font-weight: 400;
  background-color: #183152;
  -webkit-transform: rotate(90deg); 
  -moz-transform: rotate(90deg); 
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  display: block;
}


a.trigger{
position: fixed;
z-index: 3;
text-decoration: none;
left: 255px;
top: 40px;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding-left: 12px;
padding-top: 8px;
width: 100px;
height: 35px;
font-weight: 400;
background-color:#375D81;
-webkit-transform: rotate(90deg); 
-moz-transform: rotate(90deg); 
-moz-border-radius-topright: 10px;
-webkit-border-top-right-radius: 10px;
-webkit-border-top-left-radius: 10px;
-moz-border-radius-bottomright: 0;
-webkit-border-bottom-right-radius: 0;
-moz-border-radius-bottomleft: 0;
-webkit-border-bottom-left-radius: 0;
display: block;
}

a.trigger:hover{
background-color:#375D81;
}

a.active.trigger {
  background-color: #05484F;
}

.static_links a{
  color: #375D81;
  text-decoration: none;
  font-family: helvetica, arial, sans-serif;
  font-size: 15px;
  width: 100%;
}

.static_links a:hover{
  color: #8C0800;
  text-decoration: none;
  font-family: helvetica, arial, sans-serif;
  font-size: 15px;
  width: 100%;
}

#procdropdown {
   width: 225px;
   height: 18px;
   margin-top: 4px;
   border: 1px solid #ccc;
   font-family: arial, helvetica, sans-serif;
   margin-bottom: 20px;
}
