#popup {
  z-index: 20;
  width: 600px;
  height: 450px;
  border-radius: 10px;
  background-color: #8C0800;
  color: #FFF;
  font-family: arial, helvetica, sans-serif;
  opacity:.95;
  position: absolute;
  left: 400px;
  top: 120px;
  padding: 20px;
}

#popup h2 {
  font-size: 50px;
  font-family: helvetica, arial, sans-serif;
  margin-left: 8px;
  padding:4px 8px 2px 0;
}

#popup p {
  font-family: helvetica, arial, sans-serif;
  margin-left: 8px;
  padding:2px 8px 4px 0;
  font-size: 1.7em;
  line-height: 1.5em;
}

.welcome-pop {
  margin-left: 15px;
}

.welcome-pop h3{
  margin-left: 5px;
  letter-spacing: 1.5px;
  font-weight: 400;
}

.welcome-pop .rotate {

/* Safari */
-webkit-transform: rotate(15deg);

/* Firefox */
-moz-transform: rotate(15deg);

/* IE */
-ms-transform: rotate(15deg);

/* Opera */
-o-transform: rotate(15deg);

}

.pop-up-instructions {
  display: inline-block;
  margin-bottom: 15px;
  margin-left: 25px;
}

.pop-up-instructions img {
  float:left;
}

.pop-up-icon {
 float: left;
 font-size: 1.5em;
/* margin-top: -5px;*/
}

.instruction-text {
  float:left;
  margin-left: 8px;
/*  vertical-align: bottom;*/
}

.poppity {
  margin-top: -15px;
  margin-left: 15px;
}

.begin {
  display: block;
  color: #183152;
  text-decoration: none;
  font-family: helvetica, arial, sans-serif;
  width: 20%;
  padding: 5px;
  float: right;
  line-height:20px;
  margin-top: 15px;
  text-align:center;
  background-color: white;
   
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
  box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);

  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.begin:hover {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
    box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
    background-color: #ABC8E2;
}

.begin-icon {
 float: left;
 margin-top: 0;
 font-size: 1em;
 margin-left: 5px;
}

.begin-label {
  float: left;
  margin-left: 15px;

}

.begin big {
  padding: 10px;
  height: 25px;
  font: bold 20px/22px Arial, sans-serif;
}

.begin span {
    display: block;
    text-transform: none;
    font: normal 24px Helvetica, sans-serif;
    font-weight: 500;
}
