.slidepanel {
	position: fixed;
	z-index: 1;
	display: block;
	width: 200px;
	height: 100%;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	padding: 110px 25px 15px 15px;
	left: 290px;
	top: 0;
	opacity:.90;
	background-color: #C4DCF2;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
}

.slidepanel h3, h2{
	padding: 0;
	margin: 0;
	margin-top: 8px;
}

.slidepanel p{
	padding: 3px 0 0 0;
	margin: 0;
}

.slidepanel ol{
	padding: 0, 0, 0, 0;
	margin: 0;
}

.slidepanel ul{
	padding: 0, 0, 3px, 0;
	margin: 0;
}

.slidepanel li{
	padding: 0, 0, 0, 0;
	margin: 0;
}
