.slidepanel {
	position: fixed;
	z-index: 1;
	display: block;
	width: 200px;
	height: 100%;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	padding: 110px 25px 15px 15px;
	left: 290px;
	top: 0;
/*	opacity:.90;*/
	background-color: #C4DCF2;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
}


.slidepanel p{
	padding: 3px 0 0 0;
	margin: 3px;
}

.slidepanel ol{
	padding: 0, 0, 0, 0;
	margin: 0;
}

.slidepanel ul{
	padding: 0, 0, 3px, 0;
	margin: 0;
}

.slidepanel li{
	padding: 0, 0, 0, 0;
	margin: 0;
	list-style-type: none;

}

.slidepanel p {
 color: #183152;
 margin-left: 10px;
}

.slidepanel h2 {
  font-size:18px;
  line-height: 22px;
  font-family: helvetica, arial, sans-serif;
  color: #183152;
  font-weight: 600;
  margin:0;
  margin-left: 8px;
  padding:4px 8px 4px 0;
}

.slidepanel h3 {
  color: #183152;
  font-size: 14px;
  padding: 0;
  margin: 0;
  margin-top: 4px;
  margin-left: 8px;
}

.slidepanel h4 {
  color: #183152;
  margin-top: 10px;
  margin-left: 15px;
}

.bio {
	margin-left: 10px;
}

.slidepanel a:link {
  color: #375D81;
}

.slidepanel a:hover {
  color: #8C0800;
}

.slidepanel a:visited {
  color: #375D81;
}

.team-text {
 color: #183152;
 margin-left: 10px;
 margin-bottom: 10px;
}

.team-text .site-title {
	color: #8C0800;
	font-weight: 700;
}

.links {
	margin-left: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.links a {
  font-weight: 700;
}


.slidepanel table{
	margin-top: 10px;
  margin-left: 20px;
}

.slidepanel table th {
	color: #183152;
	font-size: 1.5em;
	font-weight: 600;
	text-align: left;
}

tr {
	margin-bottom: 10px;
}

.slidepanel td {
	color: #183152;
	vertical-align: bottom;
}

td .subhead {
	color: #183152;
	font-weight: 600;
	font-size: 1.25em;
	margin-top: 10px;
}

.dollars {
	text-align: right;
}
